{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
        "semi": 2,
        "indent": ["error", 2],
        "object-curly-spacing": ["error", "always"]
    },
    "env": {
        "browser": true,
        "node": true
    }
}
